@font-face {
    font-family: 'fern';
    src: url(fonts/TTF/FernText-Regular.ttf);
  }

@font-face{
    font-family: 'meta';
    src: url(fonts/FrakturMeta.ttf);
}

:root{
    --color-texte:#d8d4cf;
    --color-background: #121212;
    --titre-memoire: 2.2em;
    --titre-partie: 1.8em;
    --texte-courant:1.3em;
    --quote : 1.35em;
    --note : 1em;
    --interlignage: 1.3;
    --color-side:#adb9c0;
    --font: 'fern';
    --titre: 'meta';
}

p{
    font-family: var(--font);
    font-size:var(--texte-courant);
    line-height:var(--interlignage);
    margin-bottom:1vh;
    opacity:87%;
    word-spacing: -0.04em;
    text-align: justify;
}

h1 {
    font-size: var(--titre-memoire);
    font-family: var(--titre);
    color: var(--color-texte);
    opacity:87%;
    hyphens: none;
}

h2 {
    font-size: var(--titre-partie);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
}

h3 {
    font-size: var(--titre-partie);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
}

a {
    text-decoration: none;
    color: var(--color-texte);
}

a:hover {
    color: var(--color-texte);
}


body{
    background-color: var(--color-background);
    overflow-x: hidden;
    font-size:15px;
}

.menu{
    display: inline;
    position:fixed;
    z-index:10;
    top: 1.5vh;
    left: 65vw;
}

.biblio{
    position:absolute;
    left:18vw;

}

.recherche{
    position:absolute;
    left:28.5vw;
}

.biblio:hover{
    text-decoration: underline;
}
.recherche:hover{
    text-decoration: underline;
}

.block{
    display: block;
    position: fixed;
    width: 100vw;
    height:5vh;
    top:0;
    left:0; 
    font-size: 2em;
    background-color: var(--color-background);
    z-index: 2;
}

.titre {
   z-index:19;
   left:0;
   width: 60vw;
   margin-top:0.5vh;
   margin-left: 1.5vw;
   hyphens:none;
}

#titre-memoire {    
    font-size: 2.4em;
    line-height: 1;
    transition: font-size 0.3s;
}

.grid{
    position:absolute;
    width: 99vw;
    margin-left:1.5vw;
    margin-right:1vw;
    top:20vh;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-sizer, .grid-item{
    width:32vw;
    height:auto;
}

video:hover{
    cursor:pointer;
}

.grid-item--2{
     width:64vw;
}

.grid-item--2 video{
    width: 100%;
    height :37.4625vw;
}

video{
    width: 100%;
    height:18.73125vw;
}

.names{
    position:absolute;
    right:0;
    margin:2%;
    font-family: var(--titre);
    font-size:var(--titre-memoire);
    filter:invert(0.5);
}

.main{
            height: fit-content;
            width: fit-content;
        }
        .spinner{
            position:absolute;
            top:100px;
            left:100px;
            display:none;
            border:8px solid rgba(0,0,0,.1);
            border-left-color:red;
            height:60px;
            width:60px;
            border-radius:50%;
            z-index:999;
            animation: rotate linear 2s infinite;
            animation-delay: 0ms;
        }
        @keyframes rotate{
            from{
                transform: rotateZ(0deg);
            }
            to{
                transform: rotateZ(360deg);
            }
        }