@font-face {
    font-family: 'fern';
    src: url(fonts/TTF/FernText-Regular.ttf);
  }

@font-face{
    font-family: 'meta';
    src: url(fonts/FrakturMeta.ttf);
}



:root{
    --color-texte:#d8d4cf;
    --color-background: #121212;
    --titre-memoire: 2.2em;
    --titre-partie: 1.6em;
    --texte-courant:1.3em;
    --quote : 1.35em;
    --note : 1em;
    --interlignage: 1.4;
    --color-side:#adb9c0;
    --font: 'fern';
    --titre: 'meta';
}

.cover{
    position:fixed;
    background-color: var(--color-background);
    right:4vw;
    z-index:20;
    top:9vh;
    width:55vw;
    height:61vh;
}

.videoplayer{
    position:fixed;
    z-index: 30;
    width: 39vw;
    top:9vh;
    right:4.5vw;
    background-color: var(--color-background);
    transition: all 2s;
}

.videoplayer:hover .big {
    position:fixed;
    max-width: 60vw;
    max-height:90vh;
    top:9vh;
    right:4vw;
    background-color: var(--color-background);
}



video {
    width: 100%;
    height:auto;
    top:9vh;
    right:4vw;
    box-shadow: 0em 0em 2em 0.1em var( --color-side);
    filter: brightness(0.8);
    cursor:pointer;
}

.horizontal{
    position:fixed;
    display:block;
    left:43vw;
    top:70vh;
    border-top: 0.05em solid var(--color-texte);
    width: 52vw;
    z-index:20;
}

.vertical{
    position:fixed;
    display:block;
    left:43vw;
    top:9vh;
    border-left: 0.05em solid var(--color-texte);
    height: 89vh;
    z-index:20;
}


.grille {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100vh auto;
    opacity: 1  ;
    transition: opacity 2s;
}

.summary{
    position: fixed;
    opacity: 0;
    left:53vw;
    top:1.35vh;
    z-index:20;
    font-size: var(--texte-courant);
    font-family:var(--font);
    transition: opacity 0.5s;
}

.contenu{
    margin-left:1.5vw;
    display:grid;
    grid-column: 1;
    grid-row:2;
    font-size:16px;
}

p{
    font-family: var(--font);
    font-size:var(--texte-courant);
    line-height:var(--interlignage);
    margin-bottom:1vh;
    opacity:87%;
    word-spacing: -0.02em;
    text-align: justify;
}

li{
    list-style-type: none;
    line-height:1.1;
}

h1 {
    font-size: var(--titre-memoire);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
    margin-top:1.2em;
}

h2 {
    font-size: var(--titre-partie);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
    margin-top:1.2em;
}

h3 {
    font-size: var(--titre-partie);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
}

a {
    text-decoration: none;
    color: var(--color-texte);
}

a:hover {
    color: var(--color-texte);
}

body {

    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-texte);
    hyphens: auto;
}

.header{
    display:grid;
    grid-auto-columns: max-content;
    grid-row-start:1;
    grid-row-end:1;
    grid-auto-rows: min-content;
    font-size:15px;
}

.videoHeader{
    position:fixed;
    z-index: 50;
    width: 40vw;
    top:9vh;
    right:4.5vw;    
}

.videoHeader video{
    opacity:1;
    z-index:20;
}

.block{
    display: block;
    position: fixed;
    width: 100vw;
    height:9vh;
    top:0;
    margin-left: 1.5vw;
    font-size: 2em;
    background-color: var(--color-background);
    z-index: 2;
}

.titre {
   z-index:19;
}

#titre-memoire {
    width: 60vw;
    z-index: 30;
    margin-top:0.5vh;
    font-size: 2.4em;
    line-height: 1;
    transition: font-size 0.3s;
    hyphens:none;
}

.sommaire {

    position: absolute;
    display:grid;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left:1.5vw;
    margin-bottom:1vh;
    bottom: 0;
    line-height:1;
    max-width: 40vw;
}

.sommaire p{
    line-height:0.8;
}

.informations {
    display: block;
    position: absolute;
    bottom: 0;
    left: 45%;
    margin-left:1vw;
    margin-bottom:1vh;
}

.informations p{
    line-height: 0.8;
}


#texte{
    font-size:1.3em;
}

.block-note{
    display: grid;
    position: fixed;
    left: 45%;
    z-index: 2;
    width:35%;
    height: 25%;
    bottom:0;
}

sup{
    font-size:0.6em;
    text-shadow: 0 0 0.6em rgb(97, 103, 161); 
}

.note{
    display:none;
    position:absolute;
    font-size:var(--note);
    font-family: var(--font);
    margin-bottom: 1.5vh;
    bottom:0;
    width:25vw;
    hyphens: none;
}

blockquote {
    font-family: var(--font);
    font-size:var(--quote);
    line-height:1.15em;
    word-spacing: -0.02em;
    margin-left:2vw;
    opacity:87%; 
    text-align: justify;
    margin-top:1em;
    margin-bottom:1em;
}

img {
    width: 70%;
    opacity:0;
    position:absolute;
    z-index: 30;
}





.lazy{
    display:none;
    opacity:1;
    transition:opacity 0.5s;
}


.player{
    box-shadow: 0em 0em 6em 3em var(--color-side);
    transition: box-shadow 3s;
}

.courant{
    font-family: var(--titre);
    font-size: var(--quote);
    position:fixed;
    display:none;
    left:1.5vw;
    z-index:10;
    top:5vh;
  }

  
.extrait{
    position:fixed;
    display:none;
    width:25vw;
    height:15vw;
    top: 60vh;
    left:23vw;
    opacity: 0;
    z-index:20;
    transition: opacity 0.5s;
    pointer-events: none;
}

.visible{
    opacity:1;
    display:block;
}

.container-slider{
    position:fixed;
    left:83vw;
    top: 5vh;
    width:100%;
    z-index:7;
}

.slider{
    width:14vw;
    height: 0.5vh;
    border-radius: 2px;  
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.lien-site{
    position: fixed;
    top:72vh;
    margin-top:1vh;
}
.lien-site:hover{
    font-family: var(--titre);
    font-size:1.6em;
}


.menu{
    display: inline;
    position:fixed;
    hyphens: none;
    z-index:10;
    top: 1.5vh;
    left: 65vw;
}

.biblio{
    position:absolute;
    left:18vw;
}
.biblio:hover{
    text-decoration: underline;
}
.recherche:hover{
    text-decoration: underline;
}

.recherche{
    position:absolute;
    left:28.5vw;
}

.font{
    position:absolute;
    left:14.5vw;
    top:0.5vh;
}

.hyph{
    hyphens: none;
}

.focus{
    opacity:0.2;
    transition: opacity 2s;
}

.espace-fine {
    letter-spacing: 0.005em;
    display:inline-block;
    width:0.3%;
  }

.zoom{
    cursor:pointer;
    font-family: var(--titre);
}


.warning{
    display: none;
}







/* Small caps */
.small-caps {
    font-variant: small-caps;
  }
  
  /* Double quote (") marks */
  .pull-double {
    margin-left: -.46em;
  }
  
  .push-double {
    margin-right: .46em;
  }
  
  /* Single quote (') marks */
  .pull-single {
    margin-left: -.27em;
  }
  
  .push-single {
    margin-right: .27em;
  }
  
  /* Mid-paragraph push/pull spans */
  .pull-double,
  .push-double,
  .pull-single,
  .push-single {
    display: inline-block;
  }
  
  /* Optical margin alignment for particular letters */
  .pull-T,
  .pull-V,
  .pull-W,
  .pull-Y {
    margin-left: -.07em;
  }
  
  .push-T,
  .push-V,
  .push-W,
  .push-Y {
    margin-right: .07em;
  }
  
  .pull-O,
  .pull-C,
  .pull-o,
  .pull-c {
    margin-left: -.04em;
  }
  
  .push-O,
  .push-C,
  .push-o,
  .push-c {
    margin-right: .04em;
  }
  
  .pull-A {
    margin-left: -.03em;
  }
  
  .push-A {
    margin-right: .03em;
  }
  
  @media only screen and (max-width : 600px) {
    /* Styles pour cette Media Queries */
    .warning{
        display:block;
        position:fixed;
        width:100%;
        height:100%;
        z-index:999;
        background-color: var(--color-background);
    }
    .warned{
        width:70%;
        margin:3vw;
        font-size: 10vw;
        hyphens: none;
        text-align:left;
    }

    body{
        overflow:hidden;
    }
    } 

  @media screen and (max-aspect-ratio: 20/9)
{

    .videoplayer{
        position:fixed;
        z-index: 30;
        width: 50vw;
        height:45vh;
        top:9vh;
        right:4.5vw;
        background-color: var(--color-background);
    }
    
    .videoplayer:hover .big {
        position:fixed;
        max-width: 75vw;

    }
        
    video {
        width: 100%;
        height:auto;
        box-shadow: 0em 0em 2em 0.1em var( --color-side);
        filter: brightness(0.8);
        cursor:pointer;
    }

    .videoHeader{
        position:fixed;
        z-index: 50;
        width: 50vw;
        top:9vh;
        right:4.5vw;
    }
        
}






