@font-face {
    font-family: 'fern';
    src: url(fonts/TTF/FernText-Regular.ttf);
  }

@font-face{
    font-family: 'meta';
    src: url(fonts/FrakturMeta.ttf);
}

:root{
    --color-texte:#d8d4cf;
    --color-background: #121212;
    --titre-memoire: 2.2em;
    --titre-partie: 1.8em;
    --texte-courant:1.3em;
    --quote : 1.35em;
    --note : 1em;
    --interlignage: 1.3;
    --color-side:#adb9c0;
    --font: 'fern';
    --titre: 'meta';
}

body{
    background-color: var(--color-background);
    overflow:hidden;
}

.horizontal{
    position:fixed;
    left:43%;
    top:70%;
    border-top: 0.05em solid var(--color-texte);
    width: 52vw;
    z-index:20;
}

.vertical{
    position:fixed;
    left:43vw;
    top:9vh;
    border-left: 0.05em solid var(--color-texte);
    height: 89vh;
    z-index:20;
}

.grille {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 19vh auto;
}

.contenu{
    margin-left:1.5vw;
    display:grid;
    grid-column: 1;
    grid-row:2;
    font-size:12.5px;
}

p{
    font-family: var(--font);
    font-size:var(--texte-courant);
    line-height:var(--interlignage);
    margin-bottom:1vh;
    opacity:87%;
}

h1 {
    font-size: var(--titre-memoire);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
}

h2 {
    font-size: var(--titre-partie);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
}

h3 {
    font-size: var(--titre-partie);
    font-family: var(--titre);
    opacity:87%;
    hyphens: none;
}

a {
    text-decoration: underline;
    color: var(--color-texte);
}

a:hover {
    color: var(--color-texte);
}

body {

    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-texte);
    hyphens: auto;
}

.header{
    display:grid;
    grid-auto-columns: max-content;
    grid-row-start:1;
    grid-row-end:1;
    grid-auto-rows: min-content;
    font-size:15px;
}

.block{
    display: block;
    position: fixed;
    width: 100vw;
    height:19vh;
    margin-left: 1.5vw;
    font-size: 2em;
    background-color: var(--color-background);
    z-index: 2;
}

.block a{
    text-decoration: none;
}

.block a:hover{
    text-decoration: underline;
}

.titre {
   z-index:19;
}

#titre-memoire {
    width: 60vw;
    margin-top:0.5vh;
    transition: font-size 0.3s;
    hyphens:none;
    font-size: 2.4em;
    line-height: 1;
}

.informations {
    display: block;
    position: fixed;
    bottom: 0;
    left: 45%;
    margin-left:1vw;
    margin-bottom:1vh;
}

.informations p{
    line-height: 0.8;
}

.incipit{
    display: block;
    position: absolute;
    font-size: 12.5px;
    left:45vw;
    top: 19vh;
}

#texte{
    font-size:1.3em;
}

sup{
    font-size:0.6em;
    text-shadow: 0 0 0.6em rgb(97, 103, 161); 
}

.courant{
    font-family: var(--titre);
    font-size: var(--quote);
    position:fixed;
    display:none;
    left:1.5vw;
    z-index:10;
    top:4.5vh;
  }

.visible{
    opacity:1;
    display:block;
}

.menu{
    display: inline;
    position:fixed;
    z-index:10;
    top: 1.5vh;
    left: 65vw;
}

.biblio{
    position:absolute;
    left:18vw;

}

.recherche{
    position:absolute;
    left:28.5vw;
}

.biblio:hover{
    text-decoration: underline;
}
.recherche:hover{
    text-decoration: underline;
}

.font{
    position:absolute;
    left:10vw;
    top:0.5vh;
}





